<h2>Edit your profile</h2>
<form action="/users" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ name }}">
    </div>
    <div class="form-group">
        <label for="name">GitHub:</label>
        <input type="text" class="form-control" name="github" id="github" value="{{ github }}">
    </div>
    <div class="form-group">
        <label for="name">Twitter:</label>
        <input type="text" class="form-control" name="twitter" id="twitter" value="{{ twitter }}">
    </div>
    <div class="form-group">
        <label for="name">Facebook:</label>
        <input type="text" class="form-control" name="facebook" id="facebook" value="{{ facebook }}">
    </div>
    <button class="btn btn-primary">Update</button>
</form>

<p><a href="/users/{{username}}" target="_blank">View your profile</a></p>