<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{#loggedIn}}
  <p class="text-right">
    <a href="/auth/logout">Logout</a>
  </p>
  {{/loggedIn}}
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>