<h2>Login</h2>
{{> messages}}
<form action="/auth/login" method="POST">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <button class="btn btn-primary">login</button>
</form>

<p> Or <a href="/auth/register">Register</a> an account</p>