<h2>recipes</h2>
{{> messages}}
<form action="/users/recipes" method="POST">
    <div class="form-group">
        <label for="recipes">recipes:</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>
    <button class="btn btn-primary">add recipes</button>
</form>