<h2>Register a new user</h2>
{{> messages}}
<form action="/auth/register" method="POST">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <button class="btn btn-primary">Register</button>
</form>

<p> Or <a href="/auth/login">Login</a> if you already have an account</p>